services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: distribuidora-api
    ports:
      - "8000:8000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      sqlserver:
        condition: service_healthy
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    restart: unless-stopped
    networks:
      - distribuidora-network
    volumes:
      - ./backend/api/app/uploads:/app/uploads   # persistir uploads entre reinicios y hacerlo accesible desde contenedor
      - ./logs/backend:/var/log/backend

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: distribuidora-worker
    depends_on:
      rabbitmq:
        condition: service_healthy
      sqlserver:
        condition: service_healthy
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - distribuidora-network

  rabbitmq:
    image: rabbitmq:3.9-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    networks:
      - distribuidora-network

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    hostname: sqlserver
    ports:
      - "1433:1433"
    env_file:
      - .env
    volumes:
      - sqlserver_data:/var/opt/mssql
    deploy:
      resources:
        limits:
          memory: 3G
        reservations:
          memory: 2G
    healthcheck:
      test: ["CMD-SHELL", "timeout 5 /opt/mssql-tools18/bin/sqlcmd -S localhost,1433 -U SA -P '${SA_PASSWORD}' -Q 'SELECT 1' > /dev/null 2>&1 && echo 0 || echo 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 240s
    restart: unless-stopped
    networks:
      - distribuidora-network

volumes:
  sqlserver_data:

networks:
  distribuidora-network:
    driver: bridge